@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --green: #27ae60;
    --dark-color: #219150;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}

section {
    padding: 5rem 9%;
}

.judul {
    position: relative;
    margin-bottom: 2rem;
    text-align: center;
}

.judul::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, .1);
    z-index: -1;
}

.judul span {
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.header .header-1 {
    /* background: #fff; */
    background: #0A2647;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--green);
}

.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-decoration: none;
}

.header .header-1 .logo i {
    color: var(--green);
}

.header .header-1 .search-form {
    height: 5rem;
    width: 50rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form button span {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form button span:hover {
    color: var(--green);
}

.header .header-1 .icons div {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover {
    color: var(--green);
}

#search-btn {
    display: none;
}

#nav-btn {
    display: none;
}

.header .header-2 {
    /* background: var(--green); */
    background: #144272;
}

.header .header-2 .nafbar {
    text-align: center;
}

.header .header-2 .nafbar a {
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
    text-decoration: none;
}

.header .header-2 .nafbar a:hover {
    background: var(--green);
}

.header .header-2.active {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0;
    z-index: 1000;
}

/* .sec-jumbotron {
    background: rgb(44, 116, 179);
    background: radial-gradient(circle, rgba(44, 116, 179, 1) 0%, rgba(148, 233, 223, 0.9444152661064426) 100%);
} */

.sec-jumbotron {
    background: rgb(10, 38, 71);
    background: linear-gradient(63deg, rgba(10, 38, 71, 1) 0%, rgba(29, 127, 253, 1) 36%, rgba(79, 255, 215, 0.9023984593837535) 100%);
}

.sec-jumbotron .baris {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.sec-jumbotron .baris .konten {
    flex: 1 1 42rem;
}

.sec-jumbotron .baris .books-slider {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.sec-jumbotron .baris .books-slider a img {
    height: 25rem;
}

.sec-jumbotron .baris .books-slider a:hover img {
    transform: scale(.9);
}

.sec-jumbotron .baris .books-slider .stand {
    width: 100%;
    margin-top: -2rem;
}

.sec-jumbotron .baris .konten h3 {
    color: #fff;
    font-size: 4.5rem;
}

.sec-jumbotron .baris .konten p {
    color: #e6dfdf;
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

.sec-main-books {
    background: url('../image/banner-bg.jpg');
}

.sec-main-books .books-container {
    margin: 5rem 0;
}

.sec-main-books .books-container .row .col .components {
    padding: 1rem 1rem;
    text-align: center;
    border: var(--border);
}

.sec-main-books .books-container .row .col .components a {
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
}

.sec-main-books .books-container .another-books-slider .swiper-wrapper .components {
    padding: 1rem 1rem;
    text-align: center;
    border: var(--border);
}

.sec-main-books .books-container .another-books-slider .swiper-wrapper .components a {
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
}

.swiper-button-next,
.swiper-button-prev {
    border: var(--border-hover);
    height: 4rem;
    width: 4rem;
    color: var(--black);
    background: #fff;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--black);
    color: #fff;
}

.sec-footer {
    background: #0a2647;
    border-top: 2px solid #27AE60;
}

.sec-footer .isi-footer {
    max-height: 5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0;
}

.sec-footer .isi-footer .ikon {
    padding: 1rem 0;
    text-align: center;
}

.sec-footer .isi-footer .ikon a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    font-size: 2rem;
    color: #fff;
    border: 1px solid var(--green);
    border-radius: 50%;
    text-decoration: none;
    margin: .3rem .3rem;
}

.sec-footer .isi-footer .ikon a:hover {
    background: var(--green);
}

.sec-footer .isi-footer p {
    font-size: 1.2rem;
    color: #fff;
    text-align: left;
}

.sec-footer .isi-footer .cepat-link a {
    display: block;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    padding: .5rem .3rem;
}

.sec-footer .isi-footer .cepat-link a:hover {
    background: var(--green);
}

.credit {
    background: #081E39;
    display: block;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.2rem;
}

.credit a {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}
















/* media queris */
@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header .header-1 {
        padding: 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

    .sec-footer .isi-footer {
        max-height: max-content;
    }
}

@media (max-width:768px) {
    html {
        scroll-padding-top: 0;
    }

    .sec-jumbotron .baris .konten {
        text-align: center;
    }

    .sec-jumbotron .baris .konten h3 {
        font-size: 3.5rem;
    }
}

@media (max-width:574px) {
    .judul span {
        font-size: 1.5rem;
    }

    .header .header-1 {
        flex-direction: column;
        justify-content: center;
    }

    .header .header-1 .search-form {
        width: 35rem;
        margin-top: 1rem;
    }

    .sec-main-books .books-container .row .col .components {
        padding: 1rem .5rem;
    }

    .sec-main-books .books-container .row .col .components .img img {
        width: 100px;
        height: 150px;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .sec-footer .isi-footer {
        flex-direction: column;
        max-height: max-content;
    }
}